
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBagDemonstration</title>
</head>
<body>
    <div> 
        <p>Hello @ViewBag.Name</p>
        <p>Your Birthday is @ViewBag.Birthday</p>
        <p>It is @ViewBag.Difference until your birthday.</p>
    </div>
</body>
</html>
