@model List<ankem1IntroToEF.Models.Dog>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Show Dogs</title>
</head>
<body>
    <div> 
        <h3>Here are all the dogs, with their farmer name listed.</h3>
        <table>
            @foreach (var dog in @Model)
            {
                <tr>
                    <td>@dog.Name</td>
                    <td>@dog.Breed</td>
                    <td>@dog.Farmer.FirstName</td>
                    <td>@dog.Farmer.LastName</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
